# Configuración de la base de datos de origen
SOURCE_HOST=source_db_host
SOURCE_PORT=3306
SOURCE_USER=source_user
SOURCE_PASSWORD=source_password
SOURCE_DATABASE=source_db_name

# Configuración de la base de datos de destino
DEST_HOST=dest_db_host
DEST_PORT=3307
DEST_USER=dest_user
DEST_PASSWORD=dest_password
DEST_DATABASE=dest_db_name
